header {
  background-color: #363942;
	padding: 5px;
	font-size: 22px;
  text-align: center;
}

header h1 {
  color:white;
}

header p {
  font-size: 12px;
  color: white;
}

.answer-button {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 50%;
}

.answer-indicator {
  position: absolute;
  top: -0.25em;
  left: 0.25em;
  z-index: 1;
}

.isselected {
  border: 5px solid blue;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 9px;
  text-align: center;
  background-color: #363942;
  height: 6.5em;
}

footer p {
  margin: 5px 0 2px 0;
  color: white;  
}

footer:a, footer a:visited {
  color: white; 
  text-decoration: underline;
}
